/* general style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  background-color: rgba(0,0,0);
}

/* layout */
.container{
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.head img{
  width: 300px;
  margin-top: 20px;
}

#todo{
  display: flex;
}

/* typography */
.title{
  color: rgba(255,255,255, .7);
  margin: 20px 0px;
}

h1{
  font-family: 'Goldman', cursive;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}

.btn p{
  color: rgba(255,255,255, .7);
  margin-top: 40px;
}

/* bottoni */
.btn .btnHeroes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn > button{
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: green;
  border: none;
  cursor: pointer;
}

.btn .btnHeroes button{
  margin: 10px;
  border: none;
  border-radius: 40px;
  padding: 10px;
  width: 135px;
  text-transform: uppercase;
  background-color: #1c61a3;
  font-weight: bold;
  color: rgba(0,0,0, .8);
  position: relative;
}

.btn .btnHeroes button .fa-times-circle{
  position: absolute;
  top: 0;
  right: 10%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
}

/* input */
input{
  text-align: center;
  border-radius: 40px;
  padding: 10px;
  margin: 20px;
}

/* header */
.btn h2{
  color: rgba(255,255,255, .7);
}

/* main */
/* images */
.heroes{
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}

aside img{
  width: 100%;
  height: 100%;
}

.closed-img{
  height: 100px;
  flex-basis: calc(100% / 6 - 10px);
  margin: 10px 10px;
  position: relative;
}

.closed-img .fa-times-circle{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  cursor: pointer;
}
