/* general style */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  background-color: rgba(0,0,0, .7);
}

/* layout */
.container{
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

/* utility */
.d-f{
  display: flex;
}

/* typography */
h1,
h2{
  font-family: 'Goldman', cursive;
  color: rgba(255,255,255, .7);
  margin: 20px 0px;
  text-transform: uppercase;
}

h1{
  font-size: 40px;
}

/* header */
.add{
  flex-direction: column;
  align-items: center;
}

.add input{
  width: 300px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
}

.add button{
  margin: 20px 0px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: green;
  font-weight: bold;
  cursor: pointer;
}

/* main */
.list{
  background-color: black;
  color: rgba(255,255,255, .7);
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
}

.list .todo{
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255, .7);
  border-radius: 2px;
  margin: 5px 0px;
  padding: 5px 5px;
  text-transform: uppercase;
}

.list .todo:hover{
  background-color: dodgerblue;
  opacity: .6;
  color: black;
  font-weight: bold;
}

.fa-times-circle{
  cursor: pointer;
}

.active{
  background-color: green;
  color: black;
  font-weight: bold;
}
