<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="todo">

       <!-- header -->
      <header class="container">

        <!-- title -->
        <h1>agenda</h1>


        <!-- aggiungi todo -->
        <div class="add d-f">

          <input
              type="text"
              v-model="heroes"
              placeholder="cose da fare"
              @keyup.enter="pushHero">

          <button
                type="button"
                name="button"
                @click="pushHero">
            aggiungi
          </button>

        </div>

      </header>

      <!-- main -->
      <main class="container">

        <!-- lista -->
        <div class="list">

          <div class="todo d-f"
               v-for="(element,index) in btn"
               @click="act(index)"
               :class="index == indexTodo ? 'active' : null"
               type="button"
               name="button">

              {{ element }}

            <i class="far fa-times-circle"
               @click="removeHero(index)">
            </i>

          </div>

        </div>

      </main>

      <!-- footer -->
      <footer class="container">
        <h2 v-if="btn.length === 0">
          nessuna todo inserita..
        </h2>
      </footer>


    </div>

    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
