<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div id="todo">

      <aside class="left">
        <div class="heroes">
          <div class="closed-img" v-for="element in img">
            <img :src="element" alt="">
          </div>
        </div>
      </aside>

      <!-- header -->
      <header class="container">

        <!-- logo titolo bottoni e input -->
        <div class="head">

          <!-- logo -->
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Avengers_logo.png" alt="">

          <!-- titolo -->
          <div class="title">
            <h1>quanti personaggi marvel conosci??</h1>
          </div>

          <!-- bottoni -->
          <div class="btn">

            <!-- input -->
            <input type="text"
            v-model="heroes"
            placeholder="nome personaggio"
            @keyup.enter="pushHero">
            <button
            type="button"
            name="button"
            @click="pushHero">
            aggiungi
            </button>

            <h2 v-if="btn.length === 0">
              nessun personaggio inserito..
            </h2>

            <div class="btnHeroes">
              <button v-for="(element,index) in btn"
              type="button"
              name="button">
              {{ element }}
              <i class="far fa-times-circle"
              @click="removeHero(index)">
              </i>
              </button>
            </div>
          </div>

        </div>
      </header>

      <aside class="right">
        <div class="heroes">
          <div class="closed-img" v-for="element in img2">
            <img :src="element" alt="">
          </div>
        </div>
      </aside>

    </div>

    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
